* {
  margin: 0px;
}

.top {
  text-align: center;
  margin: 0px 25% 60px 25%;
  padding: 30px 50px 80px 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: gray;
}

td {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 5px solid black;
  font-size: 75px;
}
